docker/
?env/
*.egg-info/*
html/
doctrees/
.mypy_cache/
build/
*.swp
*.swo
*.log
*.pyc
.lvimrc
local.*
.DS_Store
.cache
.vscode
.coverage
.pytest_cache
docs/source/*.*.rst
docs/source/policy.rst
tldextract.cache
